<!DOCTYPE html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>

  <link rel="stylesheet" href="../../../../assets/css/bootstrap.css"/>
  <link rel="stylesheet" href="../../../../assets/css/all.min.css"/>
</head>

<body>
<img class="bookshelf-img-container" src="../../../../assets/images/bookshelf.jpg" alt="bookshelf">
<form [formGroup]="registerFormGroup" class="auth-form" (ngSubmit)="onSubmit()">
  <div class="form-row">
    <i class="fa fa-user"></i>
    <input type="text" placeholder="Username" id="username" formControlName="username">
  </div>
  <div class="form-row">
    <i class="fa-solid fa-lock"></i>
    <input type="{{ isPasswordVisible ? 'text' : 'password' }}" formControlName="password" placeholder="Password"/>
    <span class="toggle-password" (click)="togglePassword()">
      <i class="fa" [ngClass]="isPasswordVisible ? 'fa-eye' : 'fa-eye-slash'"></i>
    </span>
  </div>
  <div class="form-row">
    <i class="fa-solid fa-lock"></i>
    <input type="{{ isConfirmPasswordVisible ? 'text' : 'password' }}" formControlName="confirmPassword"
           placeholder="Confirm Password"/>
    <span class="toggle-password" (click)="toggleConfirmPassword()">
      <i class="fa" [ngClass]="isConfirmPasswordVisible ? 'fa-eye' : 'fa-eye-slash'"></i>
    </span>
  </div>
  <button class="confirm-btn">Register</button>
  <div class="error-message">{{ errorMessage }}</div>
  <div class="navigate-message">
    Already have an account? <a (click)="navigateLogin()">Login</a>
  </div>
</form>
</body>
