<!DOCTYPE html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Not Found</title>

  <link rel="stylesheet" href="../../../assets/css/bootstrap.css"/>
  <link rel="stylesheet" href="../../../assets/css/all.min.css"/>
</head>

<body>
<img class="bookshelf-img-container" src="../../../assets/images/bookshelf.jpg" alt="bookshelf">
<div class="overlay-content">
  <i class="fa fa-exclamation-triangle"></i>
  <h1>404 - Page Not Found</h1>
  <p>The page you're looking for doesn't exist or has been moved.</p>
  <button (click)="goBack()" class="btn-back">Go Back</button>
</div>
</body>
