<!DOCTYPE html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book Preview</title>

  <link rel="stylesheet" href="../../../assets/css/bootstrap.css"/>
  <link rel="stylesheet" href="../../../assets/css/all.min.css"/>
</head>

<div class="book" (click)="viewBookDetails(book.ISBN)">
  <img [src]="book.Image_URL" alt="{{ book.Book_Title }}">
  <div class="book-title" [innerHTML]="book.Book_Title + ' - ' + book.Book_Author"></div>
  <div class="book-price">{{ book.Price }} $</div>
  <app-star-rating [rating]="getRating(book.Average_Rating)"></app-star-rating>
</div>
