.book {
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 30px;
  background: rgba(208, 162, 116, 0.7);
  height: 325px;
  cursor: pointer;
}

.book img {
  height: 180px;
  width: auto;
  margin-top: 20px;
  border-radius: 8px;
}

.book-title {
  font-size: 20px;
  font-weight: bold;
  width: 90%;
  color: #FAF9F6;
  margin: 10px auto 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2em;
  height: 2.4em;
}

.book-price {
  font-size: 16px;
  margin-top: 5px;
}
