.book-actions button {
  margin-right: 10px;
}

.form-control {
  margin-bottom: 1rem;
}

.books-container {
  text-align: center;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 100px;
}

.search-bar {
  padding: 18px 26px;
  font-size: 26px;
  border: none;
  border-radius: 20px;
  width: 700px;
  outline: none;
  background-color: #FAF9F6;
}

.search-bar:hover,
.search-bar:focus {
  box-shadow: 0 0 15px rgba(255, 215, 0, 0.4);
}

.search-bar::placeholder {
  color: grey;
  font-style: italic;
}

.search-icon-button {
  position: absolute;
  transform: translateX(825%);
  background: none;
  border: none;
  font-size: 36px;
  color: grey;
  cursor: pointer;
  padding: 0;
}

.search-icon-button:hover {
  color: #FFD700;
}

.search-icon-button:focus {
  outline: none;
}
