<!DOCTYPE html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Star Rating</title>

  <link rel="stylesheet" href="../../../assets/css/bootstrap.css"/>
  <link rel="stylesheet" href="../../../assets/css/all.min.css"/>
</head>

<div class="star-rating">
  @for (star of stars(); track $index) {
    @switch (star) {
      @case ('full') {
        <i class="fa fa-star"></i>
      }
      @case ('half') {
        <i class="fa fa-star-half-alt"></i>
      }
      @case ('empty') {
        <i class="far fa-star"></i>
      }
    }
  }
</div>
