<!DOCTYPE html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book</title>

  <link rel="stylesheet" href="../../../../assets/css/bootstrap.css"/>
  <link rel="stylesheet" href="../../../../assets/css/all.min.css"/>
</head>

<body>
<img class="bookshelf-img-container" src="../../../../assets/images/bookshelf.jpg" alt="bookshelf">
<div class="book-container">
  <div class="row">
    <div class="col-md-6">
      <img [src]="book.Image_URL" alt="{{ book.Book_Title }}">
      <app-star-rating [rating]="getRating(book.Average_Rating)"></app-star-rating>
    </div>
    <div class="col-md-6">
      <div class="book-title" [innerHTML]="book.Book_Title"></div>
      <p>Author: {{ book.Book_Author }}</p>
      <p>Publisher: {{ book.Publisher }}</p>
      <p>Year of publication: {{ book.Year_Of_Publication }}</p>
      <p>ISBN: {{ book.ISBN }}</p>
      <p>Price: {{ book.Price }} $</p>
      <p>Quantity: {{ book.Quantity }}</p>
      <div class="cart-action">
        @if (!addedToCart) {
          <button class="cart-btn" (click)="addToCart()" [disabled]="book.Quantity === 0">
            <i class="fa fa-shopping-cart"></i> Add to Cart
          </button>
        } @else {
          <button class="cart-btn" (click)="removeFromCart()">
            <i class="fa fa-shopping-cart"></i> Remove from Cart
          </button>
        }
      </div>
      <div class="review-container" *ngIf="!bookRating">
        @for (_ of [].constructor(10); track $index) {
          <button class="rating-btn" (click)="selectedReview = $index + 1">{{ $index + 1 }}</button>
        }
        <button class="confirm-btn" (click)="sendReview()" [disabled]="selectedReview === null">Send Review</button>
      </div>
      <div class="review-container" *ngIf="bookRating">
        <h2>Your have already rated this book</h2>
        <app-star-rating [rating]="getRating(bookRating.toString())"></app-star-rating>
      </div>
    </div>
  </div>
</div>
</body>
