.book-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 70%;
  margin: 130px auto 20px;
  text-align: center;
  border-radius: 30px;
  background: rgba(208, 162, 116, 0.7);
  height: 80vh;
  cursor: default;
}

.book-container .row {
  height: 100%;
  width: 90%;
  margin: 0 auto;
}

.col-md-6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.col-md-6:last-child {
  align-items: flex-start;
  gap: 10px;
}

.book-container img {
  height: 50vh;
  width: auto;
  border-radius: 10px;
  filter: none;
}

.book-title {
  font-style: italic;
  font-weight: bold;
  color: #FAF9F6;
  font-size: 28px;
  margin-bottom: 20px;
}

.book-container p {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.delete-button {
  background-color: #FF6347;
  color: #FAF9F6;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 20px;
  margin-top: 30px;
  width: 45%;
}

.delete-button:hover {
  background-color: #FF4500;
}

.confirm-btn {
  margin-top: 10px;
  font-size: 20px;
  border-radius: 5px;
  width: 60%;
}

.confirm-btn:focus,
.delete-button:focus {
  outline: none;
}

.book-form {
  margin-top: 20px;
}

.book-form input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 10px;
}
