<!DOCTYPE html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Books</title>

  <link rel="stylesheet" href="../../../../assets/css/bootstrap.css"/>
  <link rel="stylesheet" href="../../../../assets/css/all.min.css"/>
</head>

<body>
<img class="bookshelf-img-container" src="../../../../assets/images/bookshelf.jpg" alt="bookshelf">
<div class="books-container">
  <app-books-pagination
    [books]="books" [currentPage]="currentPage" [totalPages]="totalPages" (pageChange)="onPageChange($event)">
  </app-books-pagination>
</div>
</body>
